@font-face {
  font-family: 图标字体;
  src: url(mi-iconfont.ttf);
}

.icon {
  font-family: 图标字体;
}
.icon-search::before {
  content: '\E616';
}
.icon-bigarrow::before {
  content: '\E623';
}
.icon-morearrow::before {
  content: '\E615';
}
